#header{
    
    display: flex;
     height: 80px;
     /* margin: 0 auto; */
     width: 80%;
     color: white;
     padding: 25px 10%;
     background: black;
     align-items: center;
     justify-content:space-between;
     width: 100%;
     position: fixed;
     top: 0;
     /* font-size: 110%; */
    z-index: 1;}

#header a{
    color: aliceblue;
    margin:0 5px ;
    text-decoration: none;
}

#header a:hover{
    color: rgb(0, 183, 255);
    text-decoration: underline;
}
